{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
<h1>Nos marques</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter une marque
</button>

<table class="table table-stripped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nom</td>
            <td>Logo</td>
            <td>Date de création</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for marque in marques %}
            <tr>
                <td><a href="{{ path('app_marque_id', {'id': marque.id})}}"> {{ marque.id }} </a></td>
                <td>{{ marque.nom }}</td>
                <td><img src="{{asset('uploads/images/' ~ marque.logo)}}" style="height: 50px"/></td>
                <td>{{ marque.date|date('d/m/Y') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_marque_id', {'id': marque.id})}}"> Voir </a>
                    <a class="btn btn-danger" href="{{ path('app_marque_delete', {'id': marque.id})}}"> Supprimer </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune marque.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        {{ form_start(addform) }}
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter une marque</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form_errors(addform) }}
            {{ form_row(addform.nom) }}
            {{ form_row(addform.date) }}
            {{ form_row(addform.logo) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{ form_row(addform.submit) }}
        </div>
        {{ form_end(addform) }}
        </div>
    </div>
</div>
{% endblock %}
